

.wholeBody {
    background-color: antiquewhite;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;

}

#sketchPlace {
flex: 0 1 auto;
background-color: white;
width: 500px;
height: 500px;
display: flex;
flex-flow: row wrap;
align-items: flex-start;
align-content: flex-start;
border: groove;
}

#gridClass {
    margin: 0px;
    background-color: white;
    padding: 0px;
}

.buttonsContainer {
   width: 150px;
   height: 500px; 
   margin-left: 50px;
   display: flex;
   flex-flow: column nowrap;
   justify-content: space-evenly;
   align-items: flex-start;
}

.buttonClass {
    flex: 0 1 auto;
    display: flex;
    justify-content: center;
    height: 20px;
    width: 120px;
    border: groove;
    background-color: white;
    border-radius: 5px;
}

#colorButton {
    width: inherit;
    background-color: white;
    border: none;
}


#rainbowModeButton {
    width: inherit;
    background-color: white;
    border: none;
}



#eraserButton {
    width: inherit;
    background-color: white;
    border: none;
}




#clearButton {
    width: inherit;
    background-color: white;
    border: none;
}

.clickedButton {
    color: white;
    background-color: black;
}

.header {
    align-self: flex-start;
    margin-top: 0px;
}

.marginFix {
    margin-top: 0px;
    border: outset;
    padding-right: 2px;
}

.textBox {
    align-self: center;
    width: 160px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    margin-right: 23px;

}

#blockwidth {
    width: 50px;
    align-self: center;
}


.sizeChooseSection {
    
        width: 150px;
        height: 500px; 
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: flex-start;
        gap: 10px;
        margin-left: 10px;
}


#small {
    width: inherit;
    background-color: white;
    border: none;
}


#medium {
    width: inherit;
    background-color: white;
    border: none;
}



#large {
    width: inherit;
    background-color: white;
    border: none;
}




#huge {
    width: inherit;
    background-color: white;
    border: none;
}

#sizeText {
    margin-left: 15px;
}